<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>

    <div class="alert alert-dismissible alert-info " style="width: 250px; position: fixed; right: 0; top :0;z-index:10000;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 style="text-align: center;">Debug</h4>
        <strong>User:</strong> @User.Identity.Name<br/>
        <strong>Version:</strong> @ViewBag.CurrentVersion <br />
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <div id="logo_text" align="center">
                    <div id="logoBanner">&nbsp</div>
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                    <h1 color="#008770">Valuation Office Room Booking System<span class="logo_colour"></span></h1>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <!-- logo -->
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "NewBooking" ? "active" : "")">@Html.ActionLink("New Booking", "Index", "NewBooking")</li>
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MyBookings" ? "active" : "")">@Html.ActionLink("My Bookings", "Index", "MyBookings")</li>

                    @if (VorbsAuthorise.IsUserAuthorised(User.Identity.Name, 1))
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Administration" ? "active" : "")">@Html.ActionLink("Administration", "Index", "Administration")</li>
                    }
                    else
                    {
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Help" ? "active" : "")">@Html.ActionLink("Help", "Index", "Help")</li>
                    }                    
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
