@{
    ViewBag.Title = "Administration";
}

<h1 class="heading-medium">
    Administration
</h1>
@*<div class="panel panel-border-wide vertical-bottom-space-large">
        <p>This administration panel enables you administer all content in this application, including managing users, existing bookings, add/remove locations and rooms.</p>
    </div>*@
<div id="content" ng-app="vorbs.admin">

    <link href="~/Content/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />

    <ul id="adminTabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active" id="bookingTab"><a href="#bookings" data-toggle="tab">Bookings</a></li>
        @if (VorbsAuthorise.IsUserAuthorised(User.Identity.Name, 2))
        {
            <li id="userTab"><a href="#users" data-toggle="tab">Users</a></li>
            <li id="locationTab"><a href="#locations" data-toggle="tab">Locations</a></li>
            <li id="roomTab"><a href="#rooms" data-toggle="tab">Rooms</a></li>
            @*<li id="reportsTab"><a href="#reports" data-toggle="tab">Reports</a></li>*@
        }
    </ul>

    <div id="my-tab-content" class="tab-content">

        <div class="tab-pane active" id="bookings">
            <br />
            @Html.Partial("BookingTab")
        </div>

        @if (VorbsAuthorise.IsUserAuthorised(User.Identity.Name, 2))
        {
            <div class="tab-pane" id="users">
                <br />
                @Html.Partial("UserTab")
            </div>

            <div class="tab-pane" id="locations">
                <br />
                @Html.Partial("LocationsTab")
            </div>

            <div class="tab-pane" id="rooms">
                <br />
                @Html.Partial("RoomTab")
            </div>

            <div class="tab-pane" id="reports">
                <br />
                @Html.Partial("ReportsTab")
            </div>
        }

    </div>
</div>

@section scripts{
    <script src="~/ClientApp/Services/Bookings.js"></script>
    <script src="~/ClientApp/Services/Availability.js"></script>
    <script src="~/ClientApp/Services/Locations.js"></script>
    <script src="~/ClientApp/Services/Rooms.js"></script>
    <script src="~/ClientApp/Services/Users.js"></script>
    <script src="~/ClientApp/Services/Admins.js"></script>
    <script src="~/ClientApp/Administration/usersController.js"></script>
    <script src="~/ClientApp/Administration/roomsController.js"></script>
    <script src="~/ClientApp/Administration/bookingsController.js"></script>
    <script src="~/ClientApp/Administration/locationsController.js"></script>
    <script src="~/ClientApp/Shared Functions/bookingFunctions.js"></script>
    <script src="~/Scripts/BootStrapTimePicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/BootStrapDatePicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jquery-uiBootstrap/jquery.bootstrap-touchspin.min.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy',
                endDate: '+12m',
                autoClose: true,
                todayBtn: true,
                todayBtn: 'linked',
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekDisabled: [0, 6]
            });

            $('.timepicker').timepicker({
                showInputs: false,
                minuteStep: 30,
                showMeridian: false,
            });
        });

        $(document).ready(function () {
            $('#tabs').tab();

            if (location.hash !== '') {
                $('a[href="' + location.hash + '"]').tab('show');

                //return $('a[data-toggle="tab"]').on('shown', function (e) {
                //    return location.hash = $(e.target).attr('href').substr(1);
                //});
            }

            if ($('#newLocationModal .panel-collapse').hasClass('collapse in')) {
                $(this).children('a').addClass('pull-right glyphicon glyphicon-plus');
            } else {
                $(this).children('a').addClass('pull-right glyphicon glyphicon-minus');
            }

            $("#location-success-alert").hide();
            $("#room-success-alert").hide();
        });

        $("#newLocationModal input").on("blur", function () {
            $(this).val($(this).val().trim())
        });

        $("#pidTextBox").keydown(function (e) {
            e.preventDefault();
        });

        $(function () {
            $('.touchSpinControlZero').TouchSpin({
                verticalbuttons: true,
                min: 0,
                initval: 0
            });
        })
    </script>
}

