@model List<VORBS.Models.Booking>
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>
    <h2>The following booking(s) has been cancelled</h2>
    <table cellspacing="0" cellpadding="10" border="1" width="600">
        <thead>
            <tr>
                <th>Location</th>
                <th>Room</th>
                <th>Start</th>
                <th>End</th>
                <th>Subject</th>
                <th>Equipment</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (VORBS.Models.Booking booking in Model)
                {
                    <tr>
                        <td>@booking.Room.Location.Name</td>
                        <td>@booking.Room.RoomName</td>
                        <td>@booking.StartDate.ToShortDateString() @booking.StartDate.ToShortTimeString()</td>
                        <td>@booking.EndDate.ToShortDateString() @booking.EndDate.ToShortTimeString()</td>
                        <td>@booking.Subject</td>
                        <td>
                            <ul>
                                @if (booking.Projector)
                                {
                                    <li>Projector</li>
                                }
                                @if (booking.Flipchart)
                                {
                                    <li>Flipchart</li>
                                }
                                @if (!booking.Projector && !booking.Flipchart)
                                {
                                    <li>None</li>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            }
           
        </tbody>
    </table>
    <p>To make a new booking, visit the <a href="@string.Format("{0}://{1}{2}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority, Url.Content("~/NewBooking"))">New Booking</a> page </p>
    <p>If you have any special requests or requirements visit the <a href="@string.Format("{0}://{1}{2}", HttpContext.Current.Request.Url.Scheme, HttpContext.Current.Request.Url.Authority, Url.Content("~/Help"))"> Help</a> page</p>
</body>
</html>
