@model VORBS.Models.Booking
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>
    <h2>Support in setting up the SMART room at the following meeting room has been requested:</h2>
    <table cellspacing="0" cellpadding="10" border="1" width="600">
        <thead>
            <tr>
                <th>User</th>
                <th>Location</th>
                <th>Room</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Owner</td>
                <td>@Model.Room.Location.Name</td>
                <td>@Model.Room.RoomName</td>
                <td>@Model.StartDate.ToShortDateString()</td>
                <td>@Model.StartDate.ToShortTimeString()</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
