@model VORBS.Models.Booking
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>
    <h2>The following request for equipment has been made:</h2>
    <table cellspacing="0" cellpadding="10" border="1" width="600">
        <thead>
            <tr>
                <th>Location</th>
                <th>Room</th>
                <th>Start</th>
                <th>End</th>
                <th>Subject</th>
                <th>Equipment</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Room.Location.Name</td>
                <td>@Model.Room.RoomName</td>
                <td>@Model.StartDate.ToShortDateString() - @Model.StartDate.ToShortTimeString()</td>
                <td>@Model.EndDate.ToShortDateString() - @Model.EndDate.ToShortTimeString()</td>
                <td>@Model.Subject</td>
                <td>
                    <ul>
                        @if (Model.Projector)
                        {
                            <li>Projector</li>
                        }
                        @if (Model.Flipchart)
                        {
                            <li>Flipchart</li>
                        }
                        @if (!Model.Projector && !Model.Flipchart)
                        {
                            <li>None</li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
