@model VORBS.Models.Booking
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>
    <h2>@Model.Owner has updated equipment to be provided for the following booking:</h2>
    <p>
        <h2>Removed:</h2>
        <table cellspacing="0" cellpadding="10" border="1" width="600">
            <tr>
                <th>User</th>
                <th>Location</th>
                <th>Room</th>
                <th>Date</th>
                <th>Time</th>
                <th>Subject</th>
                <th>Equipment</th>
            </tr>
            <tr>
                <td>@Model.Owner</td>
                <td>@Model.Room.Location.Name</td>
                <td>@Model.Room.RoomName</td>
                <td>@Model.StartDate.ToShortDateString()</td>
                <td>@Model.StartDate.ToShortTimeString()</td>
                <td>@Model.Subject</td>
                <td>
                    <ul>
                        @if (Model.Flipchart)
                        {
                            <li>Flipchart</li>    
                        }
                        @if (Model.Projector)
                        {
                            <li>Projector</li>
                        }
                        @if (!Model.Projector && !Model.Flipchart)
                        {
                            <li>None</li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </p>
</body>
</html>
