@model VORBS.Models.ViewModels.SecurityEdittedBooking
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>
    <h2>@Model.EdittedBooking.Owner has updated the list of external guests for meeting on @Model.EdittedBooking.StartDate.ToShortDateString() at @Model.EdittedBooking.StartDate.ToShortTimeString():</h2>
    <p>
        @if (Model.NewAttendees.Count() > 0)
        {
            <h2>Added:</h2>
            <table cellspacing="0" cellpadding="10" border="1" width="600">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Pass Required</th>
                </tr>
                @foreach (var attendee in Model.NewAttendees)
                {
                    <tr>
                        <td>@attendee.FullName</td>
                        <td>@attendee.CompanyName</td>
                        <td>@(attendee.PassRequired ? "Yes":"No")</td>
                    </tr>
                }
            </table>
        }
        @if (Model.RemovedAttendees.Count() > 0)
        {
            <h2>Removed:</h2>
            <table cellspacing="0" cellpadding="10" border="1" width="600">
                <tr>
                    <th>Name</th>
                    <th>Company</th>
                    <th>Pass Required</th>
                </tr>
                @foreach (var attendee in Model.RemovedAttendees)
                {
                    <tr>
                        <td>@attendee.FullName</td>
                        <td>@attendee.CompanyName</td>
                        <td>@(attendee.PassRequired ? "Yes":"No")</td>
                    </tr>
                }
            </table>
        }
        
    </p>
</body>
</html>
