@model VORBS.Models.Booking
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<html>
<body>

    <h1>Please give this information to the relevant buildings security personnel prior to the meeting taking place.</h1>

    <h2>@Model.Owner has scheduled a meeting with the following external guests on @Model.StartDate.ToShortDateString() at @Model.StartDate.ToShortTimeString():</h2>
    <p>
        <table cellspacing="0" cellpadding="10" border="1" width="600">
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Pass Required</th>
            </tr>
            @foreach (var attendee in Model.ExternalAttendees)
            {
                <tr>
                    <td>@attendee.FullName</td>
                    <td>@attendee.CompanyName</td>
                    @*<td>@{if (attendee.PassRequired == true) { "Yes" } else { "No" }</td>*@
                    <td>@(attendee.PassRequired ? "Yes" : "No")</td>
                </tr>
            }
        </table>
    </p>
</body>
</html>
